.create_client_container {
    -fx-background-color: #EEEEEE;
}

.create_client_container Text {

    -fx-fill: #888888;
}

.create_client_container VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #000000;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.create_client_container TextField {
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.create_client_container Button {
    -fx-background-color: linear-gradient(to right, #1A2D3D, #32495C);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
}

.create_client_container Button:hover {
    -fx-cursor: hand;
}

.error_label {
    -fx-text-fill: #FF0000;
}